.jumbotron nav a{
    color: white;
    font-size: 40px;
    margin-left: 5vw;
    font-style: none;
}
.jumbotron{
    text-align: center;
    background-color: black;
}
.pizza-body{
    background-image: url("../images/pizza-3000274_1920.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 75vh;
    margin-top: -5vh;
}
span{
    color: red;
}
#odeer{
    background-color: rgb(218, 218, 136, 0.1);
}
.nd{
    text-align: center;
    font-size: 30px;
}
.form-control{
    width: 20vw;
    margin-left: 30vw;
}
#button-pressed{
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
#mce-FNAME, #mce-EMAIL {
    width: 25vw;
    text-align: left;
    border: 10px solid white;
    opacity: 0.3;

}
#mce-MMERGE3{
    width: 50vw;
    height: 40vh;
    text-align: left;
    opacity: 0.3;
}
#mc-embedded-subscribe{
    background-color: orangered;
    margin-top: 3vh;
    margin-bottom: 5vh;
}
#mc-embedded-subscribe:hover{
    background-color: yellow;
}